#Robot{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:100px;
    left:200px;
    border: 2px red solid;
}


.robot_head{
    background-color: grey;
    height:50px;
    width:50px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
}

.robot_antenna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.robot_antenna_ball{
    background-color: rgb(143, 49, 49);
    height: 8px;
    width:8px;
    border-radius: 5px;
    border: black 1px solid;
}



.robot_antenna_stem{
    background-color: grey;
    height: 8px;
    width:2px;
    border: black 1px solid;
}

.robot_face{
    background-color: rgb(192, 192, 192);
    height:30px;
    width:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-radius: 25%;
}

.robot_eyes{
    display: flex;
    flex-direction: row;
   
    justify-content: center;

}

.robot_eye{
    background-color: white;
    height: 8px;
    width:8px;
    border-radius: 5px;
    margin: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.robot_eye_pupil{
    width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 10px;
}

.robot_body{
    background-color: grey;
    position: relative;
    height:100px;
    width:100px;
    border: black 1px solid;
    border-radius: 10% 10% 0 0;
}

.robot_nose{
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid red;
    margin: 2px;
}

.robot_mouth{
    border: black 1px solid;
    width:10px;
    height:2px;
    border-radius: 0 0 40% 40%;
    background-color: white;
    animation: talking infinite alternate 1s;
}

.robot_arm_left, .robot_arm_right{
    position: absolute;
    background-color: grey;
    border: solid black 1px;
    top:0px;
    width:10%;
    height:75%;
}

.robot_arm_left{
    left:-10%;
    top: 6%;
    transform: rotateZ(15deg);
    transform-origin: top right;
    border-radius: 3px 50% 0 50%;
}
.robot_arm_right{
    right:-10%;
    top: 6%;
    transform-origin: top left;
    transform: rotateZ(-15deg);
    
    border-radius: 50% 3px 50% 0;
}

.robot_hand_left, .robot_hand_right{
    position: absolute;
    background-color: grey;
    border: solid black 1px;
    border-radius: 200px / 50px;
    bottom:-10%;
    width:100%;
    height: 10%;
}

.robot_legs{
    position:relative;
    width: 75px;
    height: 120px;
}

.robot_leg_left, .robot_leg_right{
    position: absolute;
    background-color: grey;
    border: solid black 1px;
    top:0px;
    width:10%;
    height:75%;
}

.robot_leg_left{
    left:20%;
    transform: rotateZ(8deg);
    transform-origin: top right;
    border-radius: 3px 50% 0 50%;
}

.robot_leg_right{
    right:20%;
    transform-origin: top left;
    transform: rotateZ(-8deg);
    
    border-radius: 50% 3px 50% 0;
}

@keyframes talking {
    0%{
        border-radius: 0 0 40% 40%;
        width:10px;
        height:2px;
    }

    25%{
        border-radius: 0;
        width:5px;
        height:1px;
    }

    30%{
        border-radius: 10% / 50%;
        width:10px;
        height:1px;
    }

    50%{
        border-radius: 50%;
        width:1px;
        height:1px;
    }

    100%{
        border-radius: 0 0 40% 40%;
        width:10px;
        height:2px;
    }
    
}


